<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
</head>
<body>
<a href="/">Back</a>
<h1>Categories</h1>
<table border="5px">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <tr th:each="category: ${categories}">
    <td  th:text="${category.id}"></td>
    <td th:text="${category.name}">Name</td>
    <td><a th:href="@{/categories/remove(id=${category.id})}">Remove</a></td>
  </tr>
</table>
<br><br>
<a href="/categories/add">Create category</a>
</body>
</html>