<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/user/register" method="post">
    Name: <label>
    <input type="text" name="name"/>
</label> <br>
    Surname: <label>
    <input type="text" name="surname"/>
</label> <br>
    Email: <label>
    <input type="text" name="email"/>
</label> <br>
    Password: <label>
    <input type="password" name="password"/>
</label> <br>
    DateOfBirthday: <label>
    <input type="date" name="dob">
</label> <br>
    <input type="submit" value="register">
</form>
</body>
</html>